@{ 
}
<nav>
    <ul>
        <li><a href="@Url.Action("AddUser", "AddUser")" class="btn btn-primary">Go to Add User</a></li>
        <!-- Other navigation links if needed -->
    </ul>
</nav>
<h1>Hello MyContacts</h1>